.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.mt20 {
	margin-top: -10%;
}

.mt40 {
	margin-top: 40%;
}

.ml-3 {
	margin-left: 3%;
}

.ml-12 {
	margin-left: 12%;
}

.ml-40 {
	margin-left: 40%;	
}

.mt25ml40 {
	margin-top: -25%;
	margin-left: 50%;
}

.mt25ml10 {
	margin-top: -25%;
	margin-left: 10%;
}

.pt10 {
	padding-top: 10%;
	font-size: 50px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}